.information-card {
  background-color: var(--color-search-card-information-bg);
  max-width: 1251px;
  margin: 15px;
  height: 340px;
  border-radius: 8px;
  display: flex;
}

.information-card-content {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information-card-content img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  padding-right: 8px;
}

.information-form-content {
  background-color: var(--color-search-card-information-content-bg);
  border: 1px solid var(--color-search-card-information-content-border);
  width: 100%;
  height: 180px;
  padding: 5px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.information-form-content h3 {
  color: var(--color-search-card-information-content-title);
  padding: 3px;
  border-radius: 4px;
  font-size: 16px;
}

.form-content {
  padding: 5px;
}

.form-content-input {
  border: 1px solid var(--color-search-card-information-content-border);
  color: var(--color-search-card-information-content-placeholder);
  height: 25px;
  margin-top: 8px;
  padding: 3px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .information-card {
    height: 334px;
    display: flex;
  }

  .information-card-content {
    height: 250px;
    margin: 44px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .information-card-content img {
    width: 250px;
    height: 250px;
    padding: 40px 25px 40px 40px;
  }

  .information-form-content {
    height: 280px;
    margin-right: 35px;
  }

  .information-form-content h3 {
    font-size: 38px;
  }

  .form-content-input {
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
  }
}
