.notfound-title {
  color: var(--color-search-title-font);
  margin: 40px 15px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 500px;
}

@media (min-width: 576px) {
  .notfound-title {
    font-size: 38px;
  }
}
