@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-body-bg: #ffffff;

  --color-header-bg: #1890ff;
  --color-header-font: #ffffff;

  --color-begin-title-font: #000000;
  --color-begin-subtitle-font: #7E7E7E;

  --color-search-card-bg: #E6F7FF;
  --color-search-title-font: #262626;
  --color-search-card-placeholder: #BFBFBF;

  --color-search-card-information-bg: #F5F5F5;

  --color-search-card-information-content-bg: #ffffff;
  --color-search-card-information-content-border: #D9D9D9;
  --color-search-card-information-content-title: #1890ff;
  --color-search-card-information-content-placeholder: #737373;

  --color-btn-bg: #1890ff;
  --color-btn-font: #ffffff;

  --color-notfound-font: #ff2323;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--color-body-bg);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
