@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-body-bg: #ffffff;

  --color-header-bg: #1890ff;
  --color-header-font: #ffffff;

  --color-begin-bg: #e6f7ff;
  --color-begin-title-font: #000000;
  --color-begin-subtitle-font: #7E7E7E;

  --color-begin-btn-bg: #1890ff;
  --color-begin-btn-font: #ffffff;

  --color-section-card-information-bg: #737373;
  --color-section-card-information-forms-bg: #ffffff;
  --color-section-card-information-title: #1890ff;
  --color-section-card-information-forms-input: #737373;

  --color-notfound-font: #ff2323;

  --color-placeholder: #bfbfbf;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--color-body-bg);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
